#about{
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(http://thomso.in/static/home/img/about-bg.png) no-repeat bottom center scroll;
    -webkit-animation:about-bg 200s linear infinite;
    /* Safari and Chrome */
    animation:about-bg 200s linear infinite;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
@media(max-width:768px) {
    #about .about-text{
        padding: 0 30px;
    }
}
@keyframes about-bg {
    from {
        background-position: 20% 0px;
    }
    to {
        background-position: 100% 0px;
    }
}
@-webkit-keyframes about-
/* Safari and Chrome */
 {
    from {
        background-position: 20% 0px;
    }
    to {
        background-position: 100% 0px;
    }
}